@use 'mixins/adaptive-font' as *;
@use './chunk/burger-menu';

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 30px;
	padding: 3px 15px;
	background-color: var(--light-color);

	&__img {
		max-width: 24px;
	}

	&__text {
		font-weight: 800;
		font-size: 16px;
		text-transform: uppercase;
	}
}

.menu {
	position: relative;
	display: flex;
	align-items: center;

	&__body {
		&--mobile {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 5;
			overflow: auto;
			padding: 100px 30px 30px;
			width: 100%;
			height: 100vh;
			background-color: var(--accent-color);
			transition: left 0.3s;
		}

		&--active {
			left: 0;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 28px;

		&--mobile {
			flex-direction: column;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 14px;
		transition: opacity var(--time);

		&:hover {
			opacity: 0.5;
		}
	}
}

.section {
	margin-bottom: 20px;

	&--default {
		border: 1px solid var(--border-color);
		border-radius: 30px;
		padding: 60px;
		box-shadow:
			0 5px 5px 0 rgb(0 0 0 / 2%),
			0 10px 15px 0 rgb(0 0 0 / 5%);
		background-position: top 40px right 20px;
		background-size: 300px;
		background-repeat: no-repeat;
		background-color: var(--white-color);

		@media (max-width: 992px) {
			background-size: 200px;
		}

		@media (max-width: 768px) {
			padding: 30px;
			background: none !important;
		}

		@media (max-width: 576px) {
			padding: 20px;
		}
	}
}

.link {
	border-radius: 30px;
	padding: 18px 28px;
	font-weight: 600;
	text-align: center;
	color: var(--light-color);
	background-color: var(--accent-color);
	transition: filter var(--time);

	&:hover {
		filter: brightness(120%);
	}

	&--min {
		padding: 15px 23px;
		font-size: 14px;
	}

	&--white {
		text-transform: uppercase;
		color: var(--text-color);
		background-color: var(--light-color);
	}
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 25px;
	margin-bottom: 50px;
	max-width: 780px;

	&__title {
		margin: 0;
		border-radius: 30px;
		padding: 12px 65px;
		max-width: fit-content;
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		color: #4e5468;
		background-color: #d0d6ea;
	}

	&__subtitle {
		margin: 0;
		font-weight: 800;
		line-height: var(--line-height);
		text-transform: uppercase;
		color: var(--text-color);
		@include adaptive-font(45, 25);
	}

	&__description {
		margin: 0;
		font-weight: 500;
		color: var(--text-color);
	}

	@media (max-width: 768px) {
		gap: 15px;
		margin-bottom: 30px;
	}

	@media (max-width: 576px) {
		gap: 10px;
	}
}
