@use './chunk/burger-menu';

.logo {
	display: flex;
	align-items: center;
	gap: 10px;
	border-radius: 30px;
	padding: 3px 15px;
	background-color: var(--light-color);

	&__img {
		max-width: 24px;
	}

	&__text {
		font-weight: 800;
		font-size: 16px;
		text-transform: uppercase;
	}
}

.menu {
	position: relative;
	display: flex;
	align-items: center;

	&__body {
		&--mobile {
			position: fixed;
			left: -100%;
			top: 0;
			z-index: 5;
			overflow: auto;
			padding: 100px 30px 30px;
			width: 100%;
			height: 100vh;
			background-color: var(--accent-color);
			transition: left 0.3s;
		}

		&--active {
			left: 0;
		}
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 28px;

		&--mobile {
			flex-direction: column;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 14px;
		transition: opacity var(--time);

		&:hover {
			opacity: 0.5;
		}
	}
}

.section {
	padding: 10px 0;
}

.link {
	border-radius: 30px;
	padding: 18px 28px;
	font-weight: 600;
	color: var(--light-color);
	background-color: var(--accent-color);
	transition: filter var(--time);

	&:hover {
		filter: brightness(120%);
	}

	&--min {
		padding: 15px 23px;
		font-size: 14px;
	}
}
