// * Максимальная и минимальная ширина макета
$container-width: 1400;
$mobile-width: 420;

:root {
	// * Цвета
	--dark-color: #212123;
	--light-color: #fafafa;
	--white-color: #fff;
	--text-color: var(--dark-color);
	--body-bg-color: #f9f8f8;
	--border-color: #e3e4e7;
	--accent-color: #003a8c;
	--bg-gray-color: #4e5468;
	--section-bg-color: #f5f8ff;
	--error-color: #f06464;

	// * Шрифты
	--font-main: 'Montserrat', sans-serif;
	--line-height: 120%;

	// * Визуал
	--time: 0.2s;
	--radius: 15px;

	// * Медиа бургера
	--mobile-width: 768;
}
