// * Global styles (Шрифты, переменные)
@use 'vars';
@use 'fonts';
@use 'settings';
@use 'interface';

// * Main styles
@use './chunk/header';
@use './chunk/sliders';
@use './chunk/hero';
@use './chunk/exercises';
@use './chunk/schedule';
@use './chunk/events';
@use './chunk/moments';
@use './chunk/contacts';
@use './chunk/recommendations';
@use './chunk/footer';
@use './chunk/modal';
