.events {
	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px 20px;

		@media (max-width: 992px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}

.events-card {
	width: 100%;
	max-width: 410px;

	&__bg {
		margin-bottom: 15px;
		border-radius: 25px;
		width: 100%;
		height: 190px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__text {
		margin-bottom: 25px;
	}

	&__date {
		display: inline-block;
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 12px;
		color: var(--bg-gray-color);
		opacity: 0.9;
	}

	&__title {
		margin: 0;
		font-weight: 800;
		text-transform: uppercase;
		color: var(--bg-gray-color);
	}

	&__link {
		width: 100%;
		text-transform: uppercase;
	}

	@media (max-width: 768px) {
		max-width: 100%;
	}
}
