.exercises {
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;

		@media (max-width: 992px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&-card {
		position: relative;
		display: flex;
		align-items: end;
		overflow: hidden;
		border-radius: 30px;
		padding: 45px;
		width: 100%;
		min-height: 545px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&__text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;
			transition: all var(--time);
		}

		&__title {
			margin: 0;
			font-weight: 800;
			font-size: 32px;
			text-transform: uppercase;
			color: var(--light-color);
		}

		&__link {
			position: absolute;
			padding: 10px 35px;
			opacity: 0;
			visibility: hidden;
			transform: translateY(100%);
			transition: all var(--time);

			&:hover {
				filter: brightness(90%);
			}
		}

		&:hover {
			.exercises-card__link {
				position: static;
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}

		@media (max-width: 992px) {
			min-height: 320px;
		}
	}
}
