.exercises {
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	&-card {
		display: flex;
		align-items: end;
		overflow: hidden;
		border-radius: 30px;
		padding: 45px;
		min-height: 545px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&__text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;
		}

		&__title {
			margin: 0;
			font-weight: 800;
			font-size: 32px;
			text-transform: uppercase;
			color: var(--light-color);
		}

		&__link {
			padding: 10px 35px;
			transition: filter var(--time);

			&:hover {
				filter: brightness(90%);
			}
		}
	}
}
