@use 'mixins/adaptive-font' as *;

.hero-slider {
	&__item {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__container {
		display: flex;
		align-items: flex-end;
		margin: 0 auto;
		height: 100%;
		max-width: 1400px;
	}

	&__content {
		z-index: 1;
		display: flex;
		flex-direction: column;
		padding-bottom: 60px;
		max-width: 630px;
		color: var(--light-color);
		gap: 24px;

		@media (max-width: 1440px) {
			padding: 60px;
		}

		@media (max-width: 992px) {
			padding: 40px;
		}

		@media (max-width: 768px) {
			padding: 30px;
			gap: 15px;
		}

		@media (max-width: 576px) {
			padding: 20px;
			padding-bottom: 70px;
		}
	}

	&__title {
		margin: 0;
		font-weight: 700;
		line-height: var(--line-height);
		text-transform: uppercase;
		@include adaptive-font(72, 36);
	}

	&__descr {
		margin: 0;
		margin-bottom: 24px;
		font-weight: 500;
		line-height: var(--line-height);

		@media (max-width: 768px) {
			margin-bottom: 15px;
		}
	}

	&__link {
		max-width: fit-content;

		@media (max-width: 576px) {
			max-width: 100%;
		}
	}
}
