.moments-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;

	&__img {
		border-radius: 30px;
		width: 100%;
		height: 260px;
	}

	@media (max-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
