.recommendations__cards {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
}

.recommendations-card {
	border: 1px solid rgb(78 84 104 / 10%);
	border-radius: 30px;
	padding: 25px;
	width: 100%;
	box-shadow:
		0 5px 5px 0 rgb(0 0 0 / 2%),
		0 10px 15px 0 rgb(0 0 0 / 5%);
	background-color: var(--white-color);

	&__icon {
		margin-bottom: 30px;
		border-radius: 10px;
		height: 56px;
		width: 56px;
		background-position: center;
		background-size: 32px;
		background-repeat: no-repeat;
		background-color: #d0d6ea;
	}

	&__title {
		margin: 0;
		font-weight: 700;
		color: var(--dark-color);
		opacity: 0.9;
	}
}
