.hero-slider {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 100vh;

	.swiper-slide {
		position: relative;
		overflow: hidden;
		border-radius: 30px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top right, rgb(0 0 0 / 100%) 0%, rgb(0 0 0 / 0%) 50%);
			pointer-events: none;

			@media (max-width: 768px) {
				background: linear-gradient(to top, rgb(0 0 0) 0%, rgb(0 0 0 / 0%) 70%);
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
	}

	.swiper-pagination {
		position: absolute;
		right: 60px;
		bottom: 60px;
		margin-left: auto;
		max-width: fit-content;

		.swiper-pagination-bullet {
			margin: 0 11px;
			width: 12px;
			height: 12px;
			background-color: var(--light-color);
			opacity: 0.3;
		}

		.swiper-pagination-bullet-active {
			position: relative;
			opacity: 1;

			&::after {
				content: '';
				position: absolute;
				right: 50%;
				top: 50%;
				border: 1px solid var(--light-color);
				border-radius: 50%;
				width: 24px;
				height: 24px;
				transform: translate(50%, -50%);
			}
		}

		@media (max-width: 576px) {
			right: 50%;
			bottom: 30px;
			transform: translateX(50%);
		}
	}
}
