<section class="section section--default" style="background-image: url('@img/exercises/bg.svg');">
	<div class="container">

		<div class="heading">
			<h2 class="heading__title">События</h2>
			<h3 class="heading__subtitle">Актуальные события комплекса</h3>
		</div>

		<div class="events">
			<div class="events__cards">
				<article class="events__card events-card">
					<div class="events-card__bg" style="background-image: url('@img/events/card-1.jpg');"></div>
					<div class="events-card__text">
						<time class="events-card__date" datetime="2025-12-24">24 декабря 2025</time>
						<h4 class="events-card__title">Январский чемпионат по волейболу</h4>
					</div>
					<a class="events-card__link link-reset link link--min" href="#/">Подробнее о событии</a>
				</article>
				<article class="events__card events-card">
					<div class="events-card__bg" style="background-image: url('@img/events/card-1.jpg');"></div>
					<div class="events-card__text">
						<time class="events-card__date" datetime="2025-12-24">24 декабря 2025</time>
						<h4 class="events-card__title">Январский чемпионат по волейболу</h4>
					</div>
					<a class="events-card__link link-reset link link--min" href="#/">Подробнее о событии</a>
				</article>
				<article class="events__card events-card">
					<div class="events-card__bg" style="background-image: url('@img/events/card-1.jpg');"></div>
					<div class="events-card__text">
						<time class="events-card__date" datetime="2025-12-24">24 декабря 2025</time>
						<h4 class="events-card__title">Январский чемпионат по волейболу</h4>
					</div>
					<a class="events-card__link link-reset link link--min" href="#/">Подробнее о событии</a>
				</article>
				<article class="events__card events-card">
					<div class="events-card__bg" style="background-image: url('@img/events/card-1.jpg');"></div>
					<div class="events-card__text">
						<time class="events-card__date" datetime="2025-12-24">24 декабря 2025</time>
						<h4 class="events-card__title">Январский чемпионат по волейболу</h4>
					</div>
					<a class="events-card__link link-reset link link--min" href="#/">Подробнее о событии</a>
				</article>
				<article class="events__card events-card">
					<div class="events-card__bg" style="background-image: url('@img/events/card-1.jpg');"></div>
					<div class="events-card__text">
						<time class="events-card__date" datetime="2025-12-24">24 декабря 2025</time>
						<h4 class="events-card__title">Январский чемпионат по волейболу</h4>
					</div>
					<a class="events-card__link link-reset link link--min" href="#/">Подробнее о событии</a>
				</article>
				<article class="events__card events-card">
					<div class="events-card__bg" style="background-image: url('@img/events/card-1.jpg');"></div>
					<div class="events-card__text">
						<time class="events-card__date" datetime="2025-12-24">24 декабря 2025</time>
						<h4 class="events-card__title">Январский чемпионат по волейболу</h4>
					</div>
					<a class="events-card__link link-reset link link--min" href="#/">Подробнее о событии</a>
				</article>
			</div>
		</div>

	</div>
</section>