<section class="section section--default" style="background-image: url('@img/exercises/bg.svg');">
	<div class="container">

		<div class="heading">
			<h2 class="heading__title">Упражнения</h2>
			<h3 class="heading__subtitle">Практические инструкции и полезные рекомендации</h3>
			<p class="heading__description">
				Универсальное пространство для командных и индивидуальных видов спорта: баскетбол,
				гандбол и другие активности.
			</p>
		</div>

		<div class="exercises">
			<div class="exercises__cards">
				<div class="exercises__card exercises-card"
					style="background-image: linear-gradient(rgb(0 0 0 / 25%), rgb(0 0 0 / 25%)), url('/img/exercises/card-1.jpg'); background-size: cover; background-position: center;">
					<div class="exercises-card__text">
						<h4 class="exercises-card__title">Баскетбол</h4>
						<a class="exercises-card__link link link--white link--min link-reset" href="#">Перейти</a>
					</div>
				</div>
				<div class="exercises__card exercises-card"
					style="background-image: linear-gradient(rgb(0 0 0 / 25%), rgb(0 0 0 / 25%)), url('/img/exercises/card-1.jpg'); background-size: cover; background-position: center;">
					<h4 class="exercises-card__title">Баскетбол</h4>
				</div>
			</div>
		</div>

	</div>
</section>