<footer class="footer">
	<div class="footer__container container">
		<div class="footer__top">
			<a class="logo link-reset" href="#/">
				<img class="logo__img" src="@img/general/logo.svg" alt="Олимпиец">
				<span class="logo__text">Олимпиец</span>
			</a>
			<a class="footer__link link link--min link--white link-reset" href="#">Оставить заявку</a>
		</div>

		<div class="footer__middle">
			<div class="footer__links">
				<div class="footer__menu menu">
					<button class="menu__burger burger btn-reset">
						<span class="burger__line"></span>
					</button>
					<nav class="menu__body">
						<ul class="menu__list list-reset">
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Расписание</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Календарь</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Рекомендации</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Спортивные достижения</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Новости</a>
							</li>
							<li class="menu__item">
								<a class="menu__link link-reset" data-goto="">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="socials">
					<a class="socials__item" href="#" aria-label="ВКонтакте" style="background-image: url('@img/general/vk.png');"
						target="_blank"></a>
					<a class="socials__item" href="#" aria-label="Рутуб" style="background-image: url('@img/general/vk.png');"
						target="_blank"></a>
				</div>
			</div>
		</div>

		<div class="footer__bottom">
			<a class="footer__privacy link-reset" href="/privacy-policy">Политика конфиденциальности</a>
			<span class="footer__copyright">Все права защищены. &copy; 2025</span>
		</div>
	</div>
</footer>