<header class="header">
	<div class="header__container">
		<a class="logo link-reset" href="#/">
			<img class="logo__img" src="@img/general/logo.svg" alt="Олимпиец">
			<span class="logo__text">Олимпиец</span>
		</a>
		<div class="header__menu menu">
			<button class="menu__burger burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Расписание</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Календарь</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Рекомендации</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Спортивные достижения</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Новости</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" data-goto="">Контакты</a>
					</li>
				</ul>
			</nav>
		</div>

		<a class="link link--min link-reset" href="#">Оставить заявку</a>
	</div>
</header>