<section class="section">

	<div class="swiper hero-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide hero-slider__item" style="background-image: url('@img/hero/slide-1.jpg');">

				<div class="hero-slider__container">
					<div class="hero-slider__content">
						<h1 class="hero-slider__title">
							Олимпиец
						</h1>
						<p class="hero-slider__descr">
							Универсальное пространство для командных и индивидуальных видов спорта: баскетобла, гандбола и других
							активностей.
						</p>
						<a class="hero-slider__link link link--white link-reset" href="#">Оставить заявку</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide hero-slider__item" style="background-image: url('@img/hero/slide-1.jpg');">

				<div class="hero-slider__container">
					<div class="hero-slider__content">
						<h1 class="hero-slider__title">
							Олимпиец
						</h1>
						<p class="hero-slider__descr">
							Универсальное пространство для командных и индивидуальных видов спорта: баскетобла, гандбола и других
							активностей.
						</p>
						<a class="hero-slider__link link link--white link-reset" href="#">Оставить заявку</a>
					</div>
				</div>
			</div>
			<div class="swiper-slide hero-slider__item" style="background-image: url('@img/hero/slide-1.jpg');">

				<div class="hero-slider__container">
					<div class="hero-slider__content">
						<h1 class="hero-slider__title">
							Олимпиец
						</h1>
						<p class="hero-slider__descr">
							Универсальное пространство для командных и индивидуальных видов спорта: баскетобла, гандбола и других
							активностей.
						</p>
						<a class="hero-slider__link link link--white link-reset" href="#">Оставить заявку</a>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>

</section>