<section class="section section--default" style="background-image: url('@img/exercises/bg.svg');">
	<div class="container">

		<div class="heading">
			<h2 class="heading__title">Фотогалерея</h2>
			<h3 class="heading__subtitle">Наши яркие моменты</h3>
		</div>

		<div class="moments">
			<div class="moments__gallery moments-gallery">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
				<img class="moments-gallery__img" src="@img/moments/img-1.jpg" alt="Фотография галереи">
			</div>
		</div>

	</div>
</section>